@import "tailwindcss";

@font-face {
  font-family: "RachelBrown";
  src: url("assets/fonts/RachelBrown.otf") format("opentype"),
       url("assets/fonts/RachelBrown.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
